<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rust Web Page with Actix</title>
    <link rel="stylesheet" href="/static/css/main_style.css">
</head>
<body>
    <h1>Hello from Actix-Web</h1>
    <p>This is a simple web page served by Actix-web with separate files for HTML, CSS, and JavaScript.</p>
    <button onclick="changeText()">Click Me</button>
    <p id="text">This text will change when you click the button.</p>

    <script src="/static/js/main_script.js"></script>
</body>
</html>